<div class="componentsContainer">

    <h1>Editar Jogo</h1>
    
    
    
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="game.name" name="name">
        </mat-form-field>
    
    
    
      <mat-form-field appearance="fill">
    
        <mat-select placeholder ="Selecione uma Categoria" [(ngModel)]="game.type" name="type">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.value"  >
              {{categoria.viewValue}}
            </mat-option>
          </mat-select>
    
        </mat-form-field> 
        
       
    
        <mat-form-field>
            <input matInput placeholder="Lançamento" [(ngModel)]="game.year"  name="year">
        </mat-form-field>
    
    
    
    
    
    </form>
    
    <mat-card-actions class="button-row " >
    
    
    <button mat-flat-button color="primary" (click)="update()" >Alterar Jogo </button>
    <button mat-flat-button routerLink="/games" color="warn"><i class="material-icons">arrow_back</i>Voltar pra o Inicio</button>
    
    </mat-card-actions>
    
    </div>